body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica, sans-serif;
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 322px;
  }

  .input{
    display: flex;
    align-items: center;
  }

  label {
    font-weight: bold;
    margin-right: 5px;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: #ffc125;
    color: #5e2612;
    padding: 10px;
    visibility: hidden;
  }